<div class="center">
    <div class="mainContent" fxFlex=100 fxHide.lt-sm >
        <img class="cartImage" src="../../../../assets/cartImage.png" alt="cartImage">
        <h2>Online Book Shopping </h2>
    </div>

    <div class="loginContent" fxFlex.lt-sm=100  >
        <div class="buttons" fxLayout="row" fxLayoutAlign="space-around">
            <div  fxLayout="column" fxLayoutAlign="center center">
                <button (click)="redirectToLogin()">Login</button>
                <span *ngIf="!isLogin" ></span>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button (click)="redirectToSignUp()">SignUp</button>
                <span *ngIf="isLogin" ></span>
            </div>
        </div>

        <div class="login">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>