mat-toolbar {
    background : #2E1D1E 0% 0% no-repeat padding-box;
    opacity    : 1;
    height     : 44px;
    padding: 0 188px;

    p {
        font-size     : 16px;
        letter-spacing: 0px;
        color         : #FFFFFF;
        opacity       : 1;
        font-family   : 'Lato', sans-serif;
    }
}