<div class="loginForm" fxLayout="column wrap" >
  <form [formGroup]="loginForm"  fxLayout="column wrap" (ngSubmit)="OnSignin()">
    <div class="inputSection" fxLayout="column wrap">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input class="input" formControlName="email" matInput type="email" />
        <mat-hint *ngIf="submitted && f.email.errors && f.email.errors.required" class="invalid-feedback">
          <mat-icon matPrefix>error</mat-icon> Enter a valid email
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="showPwd? 'text':'password'" class="input" formControlName="password" matInput type="password"
          autocomplete="off" />
        <mat-icon (click)="OnCheck()" *ngIf="visible" matSuffix>visibility</mat-icon>
        <mat-icon (click)="OnCheck()" *ngIf="!visible" matSuffix>visibility_off</mat-icon>

        <mat-hint *ngIf="submitted && f.password.errors  && f.password.errors.required" class="invalid-feedback">
          <mat-icon matPrefix>error</mat-icon> Enter a valid password
        </mat-hint>
        <mat-hint (click)="routeToForgot()" align="end">Forgot Password?</mat-hint>
      </mat-form-field>

    </div>
    <!-- <button mat-button routerLink= "/forgotPassword" color="primary">forgot Password?</button> -->

    <div class="buttonsPart" fxLayout="column wrap">
      <button class="submitBtn" mat-raised-button>
        Login
      </button>
    </div>
  </form>

  <div class="OnlineButtons" fxLayout="column wrap" >
    <div fxLayoutAlign="center center" >
      OR
    </div>
    <div fxLayout.lt-sm="column wrap" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">
      <button class="buttons" mat-raised-button color="primary">Facebook</button>
      <button class="buttons" mat-raised-button>Google</button>
    </div>
  </div>

</div>