$background-white: #ffffff;
$background-gray : #F5F5F5;
$bacground-black : rgba(17, 2, 2, 0.6);
$background-green:#388E3C;

.mainSection {
    padding   : 1% 10%;
    min-height: 85.7%;

    .header {
        margin-top: 6%;
        padding   : 0 9%;
    }

}

.mainContent {
    .card {
        width        : 235px;
        height       : 285px;
        background   : $background-white 0% 0% no-repeat padding-box;
        border       : 1px solid #E2E2E2;
        border-radius: 3px;
        opacity      : 1;
        margin       : 0px 0px 20px 20px;
        cursor       : pointer;
        position     : relative;

        .quickView {
            display       : none;
            width         : auto;
            height        : auto;
            padding       : 3px;
            text-align    : center;
            text-transform: uppercase;
            font-family   : 'Lato', sans-serif;
            font-size     : 10px;
            position      : absolute;
            top           : 60%;
            left          : 50%;
            transform     : translate(-50%, -50%);
        }
    }

    .card:hover {
        .quickView {
            display         : block;
            background-color: $bacground-black;
            color           : $background-white;
        }
    }

    .imagePart {
        width        : 100%;
        height       : 175px;
        background   : $background-gray 0% 0% no-repeat padding-box;
        border-radius: 2px 2px 0px 0px;


    }

    .cardBody {
        height     : 110px;
        padding    : 10px 15px;
        line-height: 0%;

        .BookDetails {
            text-align    : left;
            font          : normal normal normal 14px/19px Roboto;
            letter-spacing: 0px;
            color         : #0A0102;
            opacity       : 1;
            text-transform: capitalize;
        }

        .author {
            font-size: 14px;
            color    : gray;
        }

        .ratingPart {
            padding: 6px 0px;
        }

        .ratings {
            width        : 33px;
            height       : 16px;
            background   : $background-green 0% 0% no-repeat padding-box;
            border-radius: 1px;
            opacity      : 1;
            padding      : 0px 3px;


            img {
                width: 14px;
            }

            .rate {

                color    : #FFFFFF;
                font-size: 12px;
            }

            margin-right : 8px;

        }

        .Price {
            padding: 6px 0px;
            z-index: 33;
        }

        .actPrice {
            text-decoration: line-through;
            font           : normal normal normal 12px/13px 'Roboto';
            letter-spacing : 0px;
            color          : #878787;
            opacity        : 1;
        }

        .CurrPrice {
            font          : normal normal bold 16px/16px 'Roboto';
            letter-spacing: 0px;
            color         : #0A0102;
            opacity       : 1;
            margin-right  : 8px;

        }

    }




}

.pagination {
    padding: 2% 0 0 0;
}

::ng-deep .my-pagination .ngx-pagination .current {
    background: #8F2B2F;
    cursor    : pointer;

}

.outOfStock {
    position: relative;

    .imagePart,
    .cardBody {
        opacity: 0.5;
        z-index: 1;
    }

    .stock {
        width           : 60%;
        height          : 10%;
        text-align      : center;
        background-color: $background-white;
        border-radius   : 2px;
        opacity         : 1;
        box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font            : normal normal medium 24px/20px 'Lato', sans-serif;
        color           : #0B0203;
        text-transform  : uppercase;
        position        : absolute;
        top             : 60%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        z-index         : 33;
    }

}