<section class="mainSection">
    <section class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Books({{books.length}} items)</span>
        <div>
            sort section
        </div>
    </section>
    <section class="mainContent" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="card"  [ngClass]="checkForStock(book)" (click)="OpenBook(book)" fxLayout="column"
            *ngFor="let book of books | bookSearch: searchWord | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems : totalLength  }">
            <div class="imagePart" fxLayoutAlign="center center">
                <img src="{{book.image}}" alt="book image" onerror="this.onerror=null; 
                    this.src='https://res.cloudinary.com/dn1xsclq9/image/upload/v1631726343/component_m78r3t.png'">
            </div>

            <div class="cardBody" fxLayout="column">
                <div>
                    <h3 class="BookDetails">{{book.bookName}}</h3>
                    <p class="author">{{book.author}}</p>
                </div>
                <div class="ratingPart" fxLayout="row" fxLayoutAlign="none center">
                    <div class="ratings" fxLayout="row" fxLayoutAlign="none center">
                        <span class="rate">{{book.rating}}</span>
                        <img src="../../../assets/star_white_24dp.svg" alt="rating">
                    </div>
                    <div>
                        <span>(20)</span>
                    </div>
                </div>
                <div  class="Price" fxLayout="row" fxLayoutAlign="none center">
                    <span class="CurrPrice">Rs. {{book.price}}</span>
                    <span class="actPrice">Rs. 2000</span>
                </div>
            </div>
            <span class="quickView">
                quick view
            </span>
            <span *ngIf="book.quantity==0" class="stock">
                out of stock
            </span>
        </div>

    </section>
    <section class="pagination" fxLayoutAlign="center">
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
    </section>
    <router-outlet></router-outlet>
</section>