$background-white: #ffffff;
$background-gray : gray;
$dull-gray       : #FAFAFA;
$btn-primary     :#3371B5;
$color-red       :#A03037;

@mixin center {
    margin: 5% auto;
}

.main {
    min-height: calc(100vh - 52px);
    padding   : 8% 0;

    .mainContent {
        .OrderMessage {
            width: 30%;

            span {
                text-align: center;
                font      : normal normal normal 20px/12px 'Roboto', sans-serif;
                word-wrap : break-word;
            }
        }
    }

    .ContBtn {
        margin-top: 1%;

        button {
            text-transform  : uppercase;
            background-color: $btn-primary;
            color           : $background-white;
            width           : auto;
            height          : 15%;
            padding         : 6px 6px;
            border          : none;
            border-radius   : 4px;
            font            : normal normal medium 14px/17px 'Lato', sans-serif;
            cursor          : pointer;
        }
    }

    .tableContent {
        width : 50%;
        margin: 0% 0;

        table {
            font-family    : 'Roboto', sans-serif;
            border-collapse: collapse;
        }

        th {
            background-color: $dull-gray;
        }

        td,
        th {
            border    : 1px solid #DCDCDC;
            text-align: center;
            padding   : 8px;
            word-wrap : normal;
        }
    }


}

@media only screen and (max-width: 599px) {
    .mainContent {
        @include center();
        min-width : 100vw;
        min-height: 100vh;
        padding   : 30px 0;

        .image {
            img {
                width : 250px;
                height: 200px;
            }
        }

        .OrderMessage {
            @include center();
            min-width : 300px;
        }

        .tableContent {
            display: block;
            width: auto;
        }
    }
}