$blue     : #1e90ff;
$color-red:#A03037;


mat-toolbar {
    background: #A03037 0% 0% no-repeat padding-box;
    position  : fixed;
    top       : 0;
    width     : 100%;
    z-index   : 99;
    padding   : 0px 0px 0px 17%;

}

.LogoPart {
    cursor: pointer;
}

.logo {
    width     : 31px;
    height    : 24px;
    background: transparent 0% 0% no-repeat padding-box;
}

.logoName {
    text-align    : left;
    font          : normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color         : #FFFFFF;
    text-transform: capitalize;
    opacity       : 1;
}

input {
    outline      : none;
    border       : none;
    height       : 33px;
    width        : 490px;
    border-radius: 3px;
    opacity      : 1;
    padding-left : 20px;

}

.userProfile {
    padding-top: 3%;
    cursor     : pointer;
    width      : 100px;
    height     : 100%;

    img {
        width : 31px;
        height: 25px;
    }

    p {
        text-align    : left;
        font          : normal normal normal 10px/13px Roboto;
        letter-spacing: 0.45px;
        color         : #FFFFFF;
        opacity       : 1;
    }

    span {
        width        : 70%;
        height       : 5px;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity      : 1;
    }
}

.cart {
    padding-top: 3%;
    cursor     : pointer;
    width      : 100px;
    height     : 100%;

    img {
        width : 31px;
        height: 25px;
    }

    p {
        text-align    : left;
        font          : normal normal normal 10px/13px 'Roboto', sans-serif;
        letter-spacing: 0.45px;
        color         : #FFFFFF;
        opacity       : 1;
    }

    .bottom-line {
        width        : 70%;
        height       : 5px;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity      : 1;
    }


}

::ng-deep .Profile {
    .Menu {
        padding: 0px 30px 10px 20px;

        .loginBtn {
            border        : 1px solid $color-red;
            color         : $color-red;
            text-transform: uppercase;
            width         : 150px;
            padding       : 10px;
            margin        : 0px 0px 0px 0px;
            border-radius : 4px;
            cursor        : pointer;
        }

        .chg-width {
            width: fit-content;
        }
    }

    hr {
        width : 90%;
        margin: 0px 0px 10px 0px;
    }

    .MenuBtn {
        padding: 15px;

        .Btn {
            text-transform: capitalize;
            cursor        : pointer;
        }
    }

}

.head {
    font: normal normal normal 18px/12px 'Roboto', sans-serif;
}

.pad {
    padding: 10px 0px;
}

.padb {
    padding-bottom: 10px;
}

.mar-r {
    margin-right: 5px;
    opacity     : .63;
}

.UserName {
    text-transform: capitalize;

}

.mat-badge-content {
    background-color: #FFFFFF;
    color           : $color-red;
}