<section class="mainSection" fxLayout="column">
    <section class="header">
        <h2><span (click)="redirectToHome()">Home/ </span>Profile</h2>
    </section>
    <div class="mainDiv" fxLayout="column wrap">
        <div class="headerDiv" fxLayout="row wrap" fxLayoutAlign="none end">
            <div class="wdth">
                <span class="heading">personal details</span>
            </div>
            <div class="fullwdth" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div>
                    <button *ngIf="!editable" (click)="editable=true" class="btn-edit">Edit</button>
                    <button *ngIf="editable" (click)="editable=false" class="btn-edit">cancel</button>
                </div>
                <div *ngIf="editable" fxLayoutAlign="none start">
                    <button class="btn-save">save</button>
                </div>
            </div>
        </div>

        <div>
            <form>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="fName">full name</label>
                    <input [ngClass]="{isEditable:editable}" [disabled]="!editable" value="{{user.fullName}}" type="text" name="fName">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="Email">Email</label>
                    <input [ngClass]="{isEditable:editable}" [disabled]="!editable" value="{{user.email}}" type="text" name="Email">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="password">Password</label>
                    <input [ngClass]="{isEditable:editable}" [disabled]="!editable" value="{{user.password}}" type="password" name="password">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="mobile">Mobile Number</label>
                    <input [ngClass]="{isEditable:editable}" [disabled]="!editable" value="{{user.mobileNumber}}" type="number" name="mobile">
                </div>
            </form>
        </div>
    </div>

</section>