<section class="mainSection" fxLayout="column">
    <section class="header">
        <h2><span (click)="redirectToHome()">Home/ </span>Profile</h2>
    </section>
    <div class="mainDiv" fxLayout="column wrap">
        <div class="headerDiv" fxLayout="row wrap" fxLayoutAlign="none end">
            <div class="wdth">
                <span class="heading">personal details</span>
            </div>
            <div class="fullwdth" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div>
                    <button *ngIf="!editable" (click)="editable = true;" class="btn-edit">Edit</button>
                    <button *ngIf="editable" (click)="initialize()" class="btn-edit">cancel</button>
                </div>
                <div *ngIf="editable" fxLayoutAlign="none start">
                    <button (click)="UpdateChanges(fullName.value,email.value,password.value,mobile.value)"
                        class="btn-save">save</button>
                </div>
            </div>
        </div>

        <div>
            <form>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="fName">full name</label>
                    <input #fullName value="{{user.fullName}}" [ngClass]="{isEditable:editable}" [disabled]="!editable" type="text"
                        name="fullName">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="Email">Email</label>
                    <input #email value="{{user.email}}" [ngClass]="{isEditable:editable}"  [disabled]="!editable" type="text" name="email">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="password">Password</label>
                    <input #password value="{{user.password}}" [ngClass]="{isEditable:editable}"  [disabled]="!editable" type="password"
                        name="password">
                </div>
                <div class="mar-b" fxLayout="column wrap">
                    <label for="mobile">Mobile Number</label>
                    <input #mobile value="{{user.mobileNumber}}" [ngClass]="{isEditable:editable}"  [disabled]="!editable" type="number"
                        name="mobile">
                </div>
            </form>
        </div>
    </div>

</section>