$background-white: #ffffff;
$background-gray : gray;
$dull-gray       : rgba(144, 143, 143, 0.75);
$btn-primary     :#3371B5;
$color-red       :#A03037;

.mainSection {
    .header {
        margin-top   : 6%;

        h2 {
            color: black;

            span {
                color: $background-gray;
            }
        }
    }

    .Mycart {

        border       : 1px solid $dull-gray;
        width        : 58%;
        padding      : 2% 2% 0% 2%;
        margin-bottom: 1%;

        .head {
            color  : black;
            padding: 0% 0% 0 0;
        }

        .items {
            margin-bottom: 2%;

            .image {
                width: 20%;
            }

            .bookDetails {

                .BookName {
                    font          : normal normal 400 20px/15px 'Roboto', sans-serif;
                    text-transform: capitalize;

                }

                .author {
                    color      : $background-gray;
                    padding-top: 12px;
                    font       : normal normal normal 16px/12px 'Roboto', sans-serif;
                }

                .price {
                    padding-top: 20px;
                    font       : normal normal 400 16px/12px 'Roboto', sans-serif;
                }

                .actionBtns {
                    margin-top: 12%;

                    .quantity {
                        width: 30%;

                        .circle {
                            height          : 20px;
                            width           : 20px;
                            border-radius   : 50%;
                            background-color: transparent;
                            border          : 1px solid $dull-gray;
                            text-align      : center;
                            cursor          : pointer;

                            img {
                                width: 16px;
                            }
                        }

                        .decreaseQty {
                            margin-right: 5px;
                        }

                        .IncreaseQty {
                            margin-left: 6px;
                        }

                        .showQtyByOne {

                            .InputQty {
                                height       : 20px;
                                width        : 100%;
                                outline      : none;
                                border       : 1px solid $dull-gray;
                                border-radius: 4px;
                                text-align   : center;
                                font-size    : 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ContBtn {
        margin-bottom: 1%;

        button {
            text-transform  : uppercase;
            background-color: $btn-primary;
            color           : $background-white;
            width           : 20%;
            height          : 15%;
            padding         : 6px 6px;
            border          : none;
            border-radius   : 4px;
            font            : normal normal medium 14px/17px 'Lato', sans-serif;
            cursor          : pointer;
        }
    }
    .mar-r {
        margin-right: 3%;
    }

    .mar-2r {
        margin-right: 8%;
    }

    .mar-b {
        margin-bottom: 2%;
    }

    .wdth {
        width: 200px;
    }

    .Order {
        .image {
            width: 20%;
        }

        .bookDetails {

            .BookName {
                font          : normal normal 400 20px/15px 'Roboto', sans-serif;
                text-transform: capitalize;

            }

            .author {
                color      : $background-gray;
                padding-top: 12px;
                font       : normal normal normal 16px/12px 'Roboto', sans-serif;
            }

            .price {
                padding-top: 20px;
                font       : normal normal 400 16px/12px 'Roboto', sans-serif;
            }
        }
    }






}