<section *ngIf="!isManageBooks" class="mainSection" fxLayout="column">
    <section class="header">
        <h2 *ngIf="!isWishListComponent && !isMyOrdersComponent"><span (click)="redirectToHome()">Home/</span>My cart
        </h2>
        <h2 *ngIf="isWishListComponent"><span (click)="redirectToHome()">Home/</span>My wishlist</h2>
        <h2 *ngIf="isMyOrdersComponent"><span (click)="redirectToHome()">Home/</span>My Orders</h2>
    </section>
    <section class="Mycart" [ngClass]="{fullwidth:isMyOrdersComponent}">
        <div class="head" fxLayout="row" fxLayoutAlign="space-between center">
            <h3 *ngIf="!isWishListComponent && !isMyOrdersComponent">My cart({{itemsCount}})</h3>
            <h3 *ngIf="isWishListComponent">My wishlist({{itemsCount}})</h3>
            <h3 *ngIf="isMyOrdersComponent">My Orders({{itemsCount}})</h3>
            <div *ngIf="!isWishListComponent && !isMyOrdersComponent" class="address">
                Use current location
            </div>
        </div>
        <div class="items" fxLayout="row" *ngFor="let item of items">
            <div class="image">
                <img src="{{item.image}}" alt="book image" onerror="this.onerror=null; 
                this.src='https://res.cloudinary.com/dn1xsclq9/image/upload/v1631726343/component_m78r3t.png'">
            </div>
            <div class="bookDetails " [ngClass]="{wdth2:isWishListComponent, wdth1: isMyOrdersComponent}"
                fxLayout="column">
                <span class="BookName">{{item.bookName}}</span>
                <span class="author"> {{item.author}} </span>
                <span class="price"> Rs.{{item.price}} </span>
                <div *ngIf="!isWishListComponent && !isMyOrdersComponent" class="actionBtns" fxLayout="row"
                    fxLayoutAlign="none center">
                    <div class="quantity" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="  circle decreaseQty" fxLayoutAlign="center" (click)="DecreaseQty(item)">
                            <img src="../../../assets/remove_black_24dp.svg" alt="decreaseQty">
                        </div>
                        <div class="showQtyByOne">
                            <input class="InputQty" type="number" #QtyInput value="{{item.quantity}}" disabled>
                        </div>
                        <div fxLayoutAlign="center" class=" circle IncreaseQty" (click)="IncreaseQty(item)">
                            <img src="../../../assets/add_black_24dp.svg" alt="IncreaseQty">
                        </div>
                    </div>
                    <button mat-button (click)="removeItemFromCart(item)">
                        Remove
                    </button>
                </div>
            </div>
            <div class="wishlist" *ngIf="isWishListComponent" (click)="removeItemFromWishList(item)">
                <img src="../../../assets/delete_black_24dp.svg" alt="remove">
            </div>
            <div *ngIf="isMyOrdersComponent" class="OrderPlaced" fxLayout="row">
                <div class="greenDot"></div>
                <div> Order placed on <span> {{item.orderDate | date : 'MMMM dd'}} </span></div>
            </div>
        </div>
        <div *ngIf="!isClicked && !isWishListComponent  && !isMyOrdersComponent" class="ContBtn" fxLayoutAlign="end">
            <button (click)="ContToAddress(items)">place order</button>
        </div>
    </section>
</section>




<section *ngIf="isManageBooks" class="mainSection">
    <section class="header">
        <h2><span (click)="redirectToHome()">Home/</span>Manage Books
        </h2>
    </section>
    <section class="Mycart">
        <div class="head" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>All Items({{itemsCount}})</h3>
            <div (click)="AddNewItem()" class="btn">
                <span>Add New Item</span>
            </div>
        </div>
        <div class="items" fxLayout="row" *ngFor="let item of items" (mouseenter)="item.visible=true"
            (mouseleave)="item.visible=false">
            <div class="image">
                <img src="{{item.image}}" alt="book image" onerror="this.onerror=null; 
                this.src='https://res.cloudinary.com/dn1xsclq9/image/upload/v1631726343/component_m78r3t.png'">
            </div>
            <div class="bookDetails wdth1" fxLayout="column">
                <span class="BookName">{{item.bookName}}</span>
                <span class="author"> {{item.author}} </span>
                <span class="price"> Rs.{{item.price}} </span>
            </div>

            <div>
                <div (click)="EditItem(item)" class="btn2" [ngClass]="item.visible ? 'vis' : 'novis'">
                    <span>Edit</span>
                </div>
                <div (click)="DeleteItem(item)" class="btn2" [ngClass]="item.visible ? 'vis' : 'novis'">
                    <span>Delete</span>
                </div>
            </div>
        </div>
    </section>
</section>